body{
    background: #000000;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #ffffff;
}

.about h1 {
    border-bottom: 1px solid #0dcaf0;
}
